@using Practica.Models

@{
    ViewData["Title"] = "Home Page";
}

<h2>Alumnos con Nota Menor a 6</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Curso</th>
        </tr>
    </thead>
        @foreach (Alumno item in ViewBag.AlumnosReprobados)
        {
            <tr>
                <td>@item.nombre</td>
                <td>@item.apellido</td>
                <td>@item.curso</td>
                <td> <a class="btn btn-info" href='@Url.Action("VerDetalleAlumno","Home", new {id = item.id})'>Ver info Alumno</a></td>
            </tr>
        }
</table>

<h2>Alumnos con Nota Mayor o Igual a 6</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Curso</th>
        </tr>
    </thead>
        @foreach (Alumno item in ViewBag.AlumnosAprobados)
        {
            <tr>
                <td>@item.nombre</td>
                <td>@item.apellido</td>
                <td>@item.curso</td>
                <td><a class="btn btn-info" href='@Url.Action("VerDetalleAlumno","Home", new {id = item.id})'>Ver info Alumno</a></td>
            </tr>
        }
</table>

