
@model Practica.Models.Alumno

@{
    ViewData["Title"] = "Detalle del Alumno";
}

<div class="veralumno">
    <h1>Detalles del Alumno</h1>
    <p><b>Nombre:</b> @ViewBag.Alumno.nombre</p>
    <p><b>Apellido:</b> @ViewBag.Alumno.apellido</p>
    <p><b>Curso:</b> @ViewBag.Alumno.curso</p>
    <p><b>Promedio:</b> @ViewBag.Alumno.promedio</p>
    <p><b>Estado:</b> @if (ViewBag.Alumno.promedio >= 6)
    {
        <p>Aprobado</p>
    }
    else
    {
        <p>Desaprobado</p>
    }

</div>

<a class="btn btn-info" href='@Url.Action("Index", "Home")'>Volver a la lista de alumnos</a>